@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* Header styles */
.header {
    display: flex;
    justify-content: space-around;
    font-family: "Quicksand", sans-serif;
    padding: 20px 0;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 62px;
    height: 62px;
}

.logo h1 {
    font-weight: bold;
    font-size: 32px;
    margin-right: 11px;
}

.menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin-right: 32px;
}

/* Remove underline from anchor tags */
.menu a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.menu-home a {
    font-weight: bold;
    color: orange;
}

.menu-about a {
    color: skyblue;
}

.menu-facilities a {
    color: #05D4DF;
}

.menu-admission a {
    color: #5D58EF;
}
.primary-btn {
    width: 200px;
    height: 50px;
    background-color: orange;
    padding: 10px;
    border-radius: 12px;
    border: none;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    font-weight: 500;   
}
.primary-btn>a {
    text-decoration: none;
    color: white;
}